<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间: 要和mapper持久层层的接口全限定名相同-->
<mapper namespace="cn.pxl.mapper.UserMapper">
    <insert id="add">
        insert into user(name,username,password,email,intro,phone,create_time,update_time,type)
        VALUES(#{name},#{username},#{password},#{email},#{intro},#{phone},now(),#{update_time},#{type})
    </insert>

    <update id="update">
        update user set username = #{user.username},
                        name = #{user.name},
                        password = #{user.password},
                        email = #{user.email},
                        phone = #{user.phone},
                        type = #{user.type}
        where id = #{user.id}
    </update>

    <delete id="deleteBatch">
        delete  from user where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAll" resultType="user">
        select * from user
    </select>

    <select id="selectByCon" resultType="cn.pxl.entity.User">
        select * from user
             <where>
                <if test="username!=null and username!=''">
                    username like concat('%',#{username},'%')
                </if>
                 <if test="phone!=null and phone!=''">
                     phone like concat('%',#{phone},'%')
                 </if>
             </where>
    </select>
</mapper>